html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

:root {
  --bg-color: #f8f9fa;
  --secondary-bg-color: #ffffff;
  --text-color: #000000;
  --secondary-text-color: #868e96;
}

body[data-theme='dark'] {
  --bg-color: #212121;
  --secondary-bg-color: #2c2c2c;
  --text-color: #ffffff;
  --secondary-text-color: #aaaaaa;
}

/*
  Custom CSS Reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif, sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
  height: 100%;
}
